@charset "UTF-8";

@font-face {
    font-family: bol;
    src: url(fontes/All\ Star\ Resort.ttf);
}
:root {
   /* Branco, amarelo, laranja, rosa e preto.*/
    --cor1: rgba(136, 86, 7, 0.449);
    --cor2: rgb(202, 131, 0);
    --cor3: rgb(240, 152, 167);
    --cor4: rgb(221, 221, 221);
    --font-bolo: 'bol';
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 112, 107);
}
div.img {
    width: 100%;
    background-color: aqua;
    height: 38vh;
    margin: auto;
    background-image: url(imagens/bolo-caseiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 10px;
}
div.padrao {
    height: 480px;
    width: 600px;
    background-color:var(--cor4);
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    max-width: 900px;/*deixa tudo junto com inline-block arrumar!!!*/
    /*display: inline-block;*/
}
a  div.padrao {
    text-decoration: none;
}
a div.padrao:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.500);
}
div.padrao > h2 {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
div.imagem > img{
    height: 100%;
    width: 100%;
    margin: auto;
}
div.imagem {
    margin: auto;
    height: 400px;
    width: 390px;
    margin-top: 10px;
}
header {
    padding: 30px;
    background-color: var(--cor1);
    position: sticky;
    top: 0;
}
header > nav > a {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 10px;
    background-color: var(--cor2);
    transition-duration: 0.8s;
}
header > nav > a:hover {
    background-color: black;
    color: var(--cor2);
    cursor: pointer;
}
main.m2 {
    background-color: var(--cor2);
    height: 2400px;
    margin: auto;
    max-width: 1300px;
    padding-top: 100px;
    box-shadow: 0px 11px 10px 10px rgba(0, 0, 0, 0.500);
}
main.m1 {
    background-color: var(--cor2);
    height: 2000px;
    margin: auto;
    max-width: 1300px;  
}
main.receita {
    margin: 30px 0px 0px 25px;
    width: 94vw;
}
section {
    margin: 0px 20px;
}
h1.bolo-txt {
    font-family: var(--font-bolo);
    font-size: 6vw;
}
section {
    margin: 15px 0px;
}
.txt-padrao {
    font-size: 3.3vw;
}
.txt-h2 {
    font-size: 3.7vw;
}
div.menu {
    font-family: var(--font-bolo);
    font-size: 6.5vw;
    margin-left: 25px;
}
div.escolha {
    width: 60vw;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px auto 20px auto;
}
div#escolha1 {
    background-image: url(imagens/bolo-caseiro.jpg);
    background-position: center center;
}
div#escolha2 {
    background-image: url(imagens/bolo-fuba.jpeg);
    background-position: center right;
}
div.botao {
    margin: 20px auto 0px auto;
    color: #4F2E21;
    background-color: #FFD700;
   /* height: 20px;
    width: 200px;*/
    width: 60vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 4vw;
    text-align: center;
}
div.botao:hover {
    color: #FFD700;
    background-color: #4F2E21;
    cursor: pointer;
}
div.x {
    margin-left: 78vw;
    display: inline-block;
}
div.x > img {
    width: 10vw;
    height: 10vw;
}
div.x > img:hover {
    cursor: pointer;
}
@media (min-width: 320px){
    div.img {
        height: 40vh;
    }

    main {
       width: 96vw;
    }
    div.padrao {
        width: 90vw;
    }
    div.imagem {
        width: 350px;
        height: 350px;
    }
}